:root {
    /* BG */

    --primery-bg--: red ; 
    --secondary-bg--: linear-gradient(darkmagenta, pink, purple); 

    /* font-size */

    --font-s-Xll: 5rem;
    --font-s-Xl: 4rem;
    --font-s-l: 3rem;
    --font-s-m: 2rem;
    --font-s-s: 1rem;

    /* margin */

    /* padding */
}