:root {
  /* bg && some color */

    --bg-color: #5c539d; 
    --secondary-bg: #1f283b; 

    --text-color: #121212; 
    --main-font: 2.2rem ; 
    --p-font:  1.1rem; 

  /* margin */

  --margin-xxl: 5rem;
  --margin-xl: 4rem;
  --margin-l: 3rem;
  --margin-m: 2rem;
  --margin-s: 1rem;

  /* padding */

  --padding-xxl: 5rem;
  --padding-xl: 4rem;
  --padding-l: 3rem;
  --padding-m: 2rem;
  --padding-s: 1rem;

  /* font-size */

  --font-size-xxl: 5rem;
  --font-size-xl: 4rem;
  --font-size-l: 3rem;
  --font-size-m: 2rem;
  --font-size-s: 1rem;

}; 

